@{
   
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <h1>Hello World!</h1>
    @{
        var sayi = 10;
        var sayi2 = 20;
        var toplan = sayi + sayi2;
    }
    <h2>Toplam : @toplan</h2>
    </body>
</html>